{% extends "base.html" %}

{% block content %}

<h1>{{ page_title }}</h1>

<form method="post">
    {% csrf_token %}

    {% if form.non_field_errors %}
        <div>
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    {% for field in form %}

        <div>
            <label for="{{ field.id_for_label }}">
                {{ field.label }}
            </label>

            {{ field }}

            {% if field.help_text %}
                <small>
                    {{ field.help_text }}
                </small>
            {% endif %}

            {% if field.errors %}
                <div>
                    {{ field.errors }}
                </div>
            {% endif %}
        </div>

    {% endfor %}

    <button type="submit">
        {{ submit_label }}
    </button>
</form>

{% if assignment %}
    <p>
        <a
            href="{% url 'homework:assignment-detail' assignment.id %}"
        >
            Cancel
        </a>
    </p>
{% else %}
    <p>
        <a
            href="{% url 'homework:assignment-list' %}"
        >
            Cancel
        </a>
    </p>
{% endif %}

{% endblock %}