<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {% block title %}
            Lumera
        {% endblock %}
    </title>
</head>

<body>

<header>
    <nav>
        <a href="/">Lumera</a>

        {% if user.is_authenticated %}

            <a href="{% url 'accounts:profile' %}">
                Profile
            </a>

            <a href="{% url 'academics:subject_list' %}">
                Subjects
            </a>

            <a href="{% url 'students:student_list' %}">
                Students
            </a>

            <form
                method="post"
                action="{% url 'accounts:logout' %}"
            >
                {% csrf_token %}

                <button type="submit">
                    Logout
                </button>
            </form>

        {% else %}

            <a href="{% url 'accounts:login' %}">
                Login
            </a>

            <a href="{% url 'accounts:register' %}">
                Register
            </a>

        {% endif %}
    </nav>
</header>


<main>
    {% if messages %}
        <div>
            {% for message in messages %}
                <p>
                    {{ message }}
                </p>
            {% endfor %}
        </div>
    {% endif %}
    
    {% block content %}
    {% endblock %}
</main>

</body>
</html>